<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (isLoggedIn()) { %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete" />
          <button>logout</button>
        </form>
        <p>logged in as <%= currentUser.username %></p>
    <% } %>


    <section class="songs">
        <% for (let song of songs) { %>
          
        <div>
          <h2><a href="/songs/<%= song.id %>"><%= song.name %></a></h2>
          <p><%= song.difficulty %></p>
          <p><%= song.scores %></p>
        </div>
          
       <% } %>
    </section>
</body>
</html>